.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-first {
    color: var(--accent-color);
}

.logo-second {
    color: var(--logo-first-color);
}

.logo-third {
    color: var(--button-text-color);
}